<launch>

  <node pkg="combine_traj_pointcloud" type="combine_traj_pointcloud" name="combine_traj_pointcloud" output="screen">
    <param name="input_traj_file" value="/home/lyh/lab/data/huigu_0422/202004221612_trj.txt"/>
    <param name="input_lidar_bag" value="/home/lyh/lab/data/huigu_0422/202004221612.bag"/>
    <param name="output_save_path" value="/home/lyh/lab/data/tmp_result/202004221612"/>
    <param name="save_per_point" value="30000"/>
    <param name="rot_trans" value="-0.0545541,-0.998346,-0.0181306,-0.00146165,0.349228,-0.036088,0.936343,0.0128432,-0.935448,0.0447496,0.350619,0.00087475"/>
    <param name="time_offset" value="-1095.24"/>
  </node>

</launch>
