<launch>

  <node pkg="transform_traj_format" type="transform_traj_format" name="transform_traj_format" output="screen">
    <param name="input_traj_file" value="/home/lyh/lab/data/iking0307/20200308_del.txt"/>
    <param name="output_traj_file" value="/home/lyh/lab/data/iking0307/transformed_format.csv"/>
  </node>

</launch>
